a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
}