.bisocial:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.bisocial:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.bisocial:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.bisocial:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}