.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  border-color: lightgreen;
  border-width: 3px;
  margin: 8px;
  border-radius: 20px;
  max-width: 32%;
  min-width: 32%;
  float: left;
  display: block;
  /* clear: right; */
}

.flo {
  float: right;
}

.foot {
  position: absolute;
  top: 90vh;
  width: 100%;
  /* margin-top: 36% ; */
  clear: left;
  display: block;
}

.addtodobox {
  border: solid;
  border-radius: 20px;
  border-width: 3px;
  border-color: lightskyblue;
  margin: 0.5%;
  padding: 2%;
}

.todoImage {
  height: 86vh;
  opacity: 40%;
  width: 73%;
  background-image: url(./img/bgimage.jpg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.firsttodoofrow {
  clear: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
