* {
   margin: 0;
   padding: 0;
}

.mycontainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.myloggedincontainer {
  display: grid;
  height: 100vh;
  /* grid-template-columns: 2fr 1fr; */
  grid-template-rows: 1fr 8fr 1fr;
}

.header {
  grid-column: 1/3;
}

.navbar {
  height: 100%;
}

.signup {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 3fr 8fr;
  align-content: center;
  position: relative;
  z-index: 1;
}

.signupimg {
  position: absolute;
  z-index: -1;
  background: url(../src/img/bgimage.jpg);
  background-size: cover;
  opacity: 40%;
  height: 100%;
  width: 100%;
}

.mar2 {
  grid-column: 1/2;
}

.mar3 {
  grid-column: 5/6;
}

.form {
  grid-column: 2/5;
}

.form-group {
  margin-bottom: 4% ;
}

.big-text {
  align-self: center;
  justify-self: center;
  font-size: 50px;
}

.content {
  background-color: #EAE7E8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.iconNotes {
  align-self: center;
  color: rgb(106, 241, 167);
}

.bi-clipboard-data {
  width: 90%;
  height: 90%;
  margin-left: 5%;
}

.aboutNotes {
  grid-column: 2/4;
  text-align: right;
  align-self: center;
  margin-right: 5%;
}

.aboutAlarm {
  grid-column: 1/3;
  text-align: left;
  align-self: center;
  margin-left: 5%;
}

.iconAlarm {
  align-self: center;
  color: rgb(106, 241, 167);
}

.bi-alarm{
  margin-left: 5%;
  height: 90%;
  width: 90%;
}

.footer {
  grid-column: 1/3;
  background-color: black;
}